.app{
    text-align: center;
    margin: 20px;
}

.app.p{
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: center;
    width: 65%;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }